# Team ""

In [7]:
import pandas as pd
import numpy as np

|DataSets  |  Descriptions  | Example |
|------|------|------|
|   Global Supply Chain Relationships  | B2B mapping of buyers and suppliers|revenue dependencies|
|   Supplier Implied Risk Attributes  | monthly measure of a company's financial health|no. of late payments, company active status etc.|
|   Market US End of Day  | market close price |adj_close, momentum, MACD, rolling Vol.|

## Global Supply Chain Relationships

|Date  |  Customer  | Supplier |Revenue Dependency (Supplier depends on Customer)
|------|------|------|------|
|   2016-01-06  | Apple|Foxcon|0.5567|

In [28]:
 df = pd.DataFrame({'A': [1, 1, 1, 2, 2, 2, 2, 3, 3], 'B':range(1,10)})
df

   A  B
0  1  1
1  1  2
2  1  3
3  2  4
4  2  5
5  2  6
6  2  7
7  3  8
8  3  9

In [32]:
a =[1,2]
[x>1 for x in a]

[False, True]

In [29]:
pd_df = df.groupby('A')['B'].apply(np.mean)
pd_df.name = ['mean']
pd_df

TypeError: Series.name must be a hashable type

In [27]:
df= pd.merge(df, pd_df, on= 'A')
df

   A  B_x  B_y
0  1    1  2.0
1  1    2  2.0
2  1    3  2.0
3  2    4  5.5
4  2    5  5.5
5  2    6  5.5
6  2    7  5.5
7  3    8  8.5
8  3    9  8.5